::ng-deep {
    ul.pagination {
        justify-content: flex-end !important;
    }

    .page-link {
        color: #212529 !important;
        font-weight: bold;
    }
    .page-link :hover {
        color: #212529 !important;
        z-index: 2;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff !important;
        background-color: #212529;
        border-color: #212529;
    }

}
