
$white:#FFF;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300:#6e6e6f;
$gray-400:#444445;
$gray-700:#2d2d2f;
$gray-700:rgba(50,50,50,0.9);
$gray-800:#1d1d1f;
$gray-900:#0e0e0f;
$primary:#161616;
$secondary:#303030;
$success:#1c6821;
$danger:#FF304F;
$info:#0F81C7;
$warning:#f0df0b;
$light:#e8e8e8;
$dark:#000000;
$enable-shadows:true;

$theme-colors: (
    primary: $indigo,
    secondary: $gray-600,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: #cccccc,
);

$body-bg:#020202;
$body-color:#cccccc;
$link-color:#f0f0f0;
$nav-link-color: #FFF;


$link-hover-color:darken($link-color,20%);
$navbar-dark-hover-color:$white;
$navbar-light-hover-color:$gray-800;
$navbar-light-active-color:$gray-800;
$input-bg:$gray-300;
$card-border-color:rgba($black,0.6);
$card-cap-bg:lighten($gray-800,10%);
$card-bg:lighten($gray-700,4%);
$nav-divider-color:$gray-500;
$nav-tabs-link-active-color:$gray-200;
$list-group-bg:lighten($body-bg,5%);
$list-group-border-color:rgba($black,0.6);
$list-group-hover-bg:lighten($body-bg,10%);
$list-group-active-color:$white;
$list-group-active-bg:$list-group-hover-bg;
$list-group-active-border-color:$list-group-border-color;
$list-group-disabled-color:$gray-800;
$list-group-disabled-bg:$black;
$list-group-active-color:#fff;
$list-group-action-color:#eee;
$list-group-action-hover-color:#fff;
$component-active-color:#eee;

$modal-content-bg:$gray-800;
$jumbotron-bg:$gray-900;
$dropdown-bg:$gray-800;
$dropdown-link-color:$gray-200;
$breadcrumb-bg:$gray-900; 
$pagination-bg:$gray-900; 
$progress-bg:$gray-300;

$input-bg:$gray-800;
$input-focus-bg:$gray-900;
$input-disabled-bg:#222;
$input-color:$white;
$input-focus-color:$gray-200;

$btn-close-color: $white;
$btn-link-color: $white;

// Modals
$modal-dialog-margin-y-sm-up: 30px;
$modal-content-bg: $body-bg;
$modal-content-color: $body-color;
$modal-content-border-color: rgba($body-color, 0.2);
$modal-content-box-shadow-xs: 0 3px 9px rgba($gray-600, 0.5);
$modal-content-box-shadow-sm-up: 0 5px 15px rgba($gray-600, 0.5);
$modal-backdrop-bg: $white;
$modal-backdrop-opacity: 0.5;
$modal-header-border-color: $gray-200;
$modal-footer-border-color: $gray-200;
$modal-header-padding: 15px;
$modal-lg: 800px;
$modal-md: 500px;
$modal-sm: 300px;
$modal-transition: transform 0.3s ease-out;

$alert-bg-level:-2;
$alert-border-level:-4;
$alert-color-level:-8;

.btn-close {
    background: $body-color url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}
@import "~bootstrap/scss/bootstrap";




 
